.header{
    background: green;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.troley{
    position: relative;
}
.troley img{
    width: 30px;
}
.count{
    background: blue;
    padding: 10px;
    border-radius: 50%;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -8px;
    left: -13px;
}
.card{
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 6px;
    width: 300px;
    margin-bottom: 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}
.img-thumb{
    width: 100%;
    min-height: 152px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 12px;
}
.title{
    margin: 0;
    min-height: 50px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .6px;
}
.price{
    font-size: 13px;
    letter-spacing: .7px;
    color: orange;
}
.counter{
    margin-left: 20px;
}
button{
    padding: 10px;
    width: 50px;
    background: blue;
    color: white;
}
input{
    padding: 10px;
    width: 100px;
    margin: 10px;
    text-align: center;
}